body {
text-align: center;
font-family: 'Arial', sans-serif;
background-image: url('../images/fondo.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h1 {
background-color: #A9A9A9;
color: #FFFFFF;
border-left: 10px solid #FF0000;
padding: 10px;
width: 100%;
text-align: left;
}

img {
width: 500px;
height: auto;
border: 5px solid #000000;
border-radius: 10px;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

ul {
list-style-type: none;
margin-top: 50px;
padding: 0;
display: block;
text-align: center;
}

li {
display: inline;
border: 1px solid #000000;
padding: 5px 10px;
margin: 0 5px;
font-weight: bold;
}
