body {
    margin: 0;
    background-image:url(../images/fond.jpeg);
    background-attachment: fixed;
    background-size: cover;
}


#menu-superior {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #006644;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

#menu-superior a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


#menu-superior a:hover {
    text-decoration: underline; 
}

#cabecera{
    text-align: center;
    margin-top: 50px;
    color: white;
}
#capa-cookies {
    background: white;
    border: 2px solid red;
    padding: 20px;
    width: 60%;
    margin: 100px auto 20px auto;
    text-align: center;
}


#contenedor-principal {
    width: 90%;
    margin: auto;
    overflow: hidden; 
}

#zona-contenido {
    float: left; 
    width: 75%;
}


#menu-lateral {
    float: right;
    margin-top: 50px;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid red;
    color: black;
}

#menu-lateral img {
    display: block;
    width: 40px;
    margin: 10px auto;
}

.bloque-info {
    position: relative;
    background-color: rgba(128, 128, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden; 
    border-radius: 5px;
    color: white;
    height: 200px;   
    overflow-y: scroll;
}

#img-derecha {
    float: right; 
    width: 200px; 
    height: auto;
    margin-left: 15px;
} 

#img-izquierda {
    float: left; 
    width: 200px;
    height: auto;
    margin-right: 15px;
}

#pie-pagina {
    position: fixed; 
    bottom: 0;
    width: 100%;
    clear: both; 
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


@media (max-width: 768px) {
    #zona-contenido, #menu-lateral {
        width: 100%;
        float: none; 
    }
    
    #menu-lateral img {
        display: inline-block;
        margin: 10px;
    }
}