

.card {
display: flex;
flex-direction: column;
gap: 20px;
width: 300px;
padding: 20px;
border-radius: 15px;
box-shadow: 0 4px 10px rgba(0,0,0,1);
font-family: sans-serif;
text-align: center;
border-color: red;
}

.header {
display: flex;
align-items: center;
gap: 15px;
box-shadow: 1px 1px 1px rgba(0,0,0,1);
background-color: #c7c3c3 ;
}

.avatar {
width: 50px;
height: 50px;
background: red;
border-radius: 50%;
}

.padre {
display: flex;
justify-content: space-around; 
border-top: 1px solid #eee;
padding-top: 15px;
}
.hijo{
display: flex;
flex-direction: column; 
align-items: center;
}

.actions {
display: flex;
gap: 10px;
}
.boton1 {
flex-grow: 2; 
background: #3498db;
color: white;
border: none;
padding: 10px;
border-radius: 5px;
}
.boton2{
flex-grow: 1; 
background: #ecf0f1;
border: none;
padding: 10px;
border-radius: 5px;
}
