.padre{
 border: 5px solid black;
 display:flex;
 /*flex-direction: column;*//*para que aparezca como una columna*/
 /*justify-content: space-evenly; *//*para crear un espaio entre contenidos*/
 /*height: 400px;*/
 /* align-items: center;*//*Alinea en el centro del recuadro padre a los hijos*/
} 

.hijo{
    border: 2px solid red;
}

