/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
    background-color: #333333;
    width: 90%;
    text-align: center;
}

.container {
    text-align: center;
}

.youtuber, .footer, .header {
    background-color: #424242;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}
.footer {
    padding: 0px;
    color: white;
    text-align: center; 
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    height: auto;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    object-fit: cover; 
    text-align: center; 
}

.youtuber .images {

    border-radius: 100%;
    width: 150px;
    height: 150px;    
    object-fit: cover; 
    text-align: center; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    list-style-type: none;
}

li {
    display: inline;
    border-left: 4px red solid;
    padding-left: 5px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: red;
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}
.button:hover {
    /* 16- cambia el color al boton*/
}

@media all and (max-width: 700px) {
    .youtuber, .footer {
        /* 17- cambia el color al BORDE*/
    }
    .button {
        /* 18- cambia el color al boton*/        
    }
    .button:hover {
        /* 19- cambia el color al boton*/
    }    
}
